@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Roboto&display=swap');

* {
	overflow-x: hidden;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow-y: scroll;
}

.heroImg {
	background: rgba(0, 0, 0, 0.8) url(/src/Assets/model2.jpg);
	background-size: cover;
	background-position: center;
	background-blend-mode: darken;
	width: 100%;
	height: 100vh;
}

.bgClip {
	clip-path: polygon(100% 0, 41% 67%, 100% 100%);
	background-color: black;
	height: 720px;
	width: 70%;
}
